main{
  background:linear-gradient(135deg,#020617,#001572,rgb(8, 35, 152),#0d905c,rgb(141, 255, 253));
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#aboutme{
  width:100%;
  grid-area:text;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  margin:10px;
  padding:20px;
  border-radius: 15px;
  border: 1px solid rgba(255,255,255,0.1);
  box-sizing: border-box;}

#aboutme h1 {
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
}

#aboutme p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 16px;
}

#aboutme span {
  color:cyan;
  font-weight: bold;
}
span{
  font-style: italic;
  color:cyan;
}

figure img{
    padding:2px;
    display:block;
    margin:auto;
    width: 280px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

figure img:hover {
  transform: scale(1.05);
}
figure{
  grid-area:image;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
}

@media only screen and (min-width: 769px) {
  #about{
  display:grid;
  grid-template-areas:"text image";
  grid-template-columns: 1fr 1fr;
  align-items:center;
  gap:20px;
  padding:20px;
}
}

/* Responsive so it stack vertically on smaller screens */
@media only screen and (max-width: 768px) {
  #about{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
  }
  #aboutme{
    order:1;
    display:flex;
    flex-direction: column;
    text-align: center;
  }
  figure{
    order:2;
  }
  figure img {
    width: 180px;
    margin-top: 20px;
    align-items:center;
  }
}