main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
    padding: 60px 10%;
}
.forms-container{
    border:1px solid black;
    padding:25px;
    background:#e6faff;
    border-radius:10px;
}

.contact-info h1{
    margin-bottom:20px;
}
input,textarea {
    width:100%;
    margin-bottom:10px;
    padding:10px;
    border-radius: 10px;
}
h1{
    text-align:center;
    color:pink;
}
.contact-social a{
    color:black;
}
button{
    width: 100%;
}
@media only screen and (max-width:768px){
    main{
        display:grid;
        grid-template-columns:1fr;
        gap:20px;
        place-items:center;
    }  
}