.content1 {
  text-align: center;
  padding: 40px 20px;
}
.intro-main h1 {
  font-size: 36px;
  color: #0a2a43;
  margin-bottom: 16px;
  text-align:center;
  text-shadow: 2px 2px 4px rgba(0, 188, 212, 0.5);
}

.intro-main p {
  font-size: 18px;
  margin: 8px 0;
}
#sp-name{
  font-weight:bold;
  font-style:none;
  font-family: 'Times New Roman', Times, serif;
}
.intro-main span {
  color: #00bcd4; 
  font-style: italic;
}

.pic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.pic img {
  width: 280px;
  height: auto;
  border-radius: 50%; 
  box-shadow: 10px 10px 10px rgba(9, 87, 255, 0.945); 
  transition: transform 0.3s ease;
}

.pic img:hover {
  transform: scale(1.05); 
}
#intro-text{
  justify-content: right;
  display:flex;
  flex-direction:column;
}

@media only screen and (min-width:768px){
  .intro-main{
    display:grid;
    grid-template-areas:"picture text1";
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
    align-items:center

  }
  .pic{
    grid-area:picture;
    align-items:center;
  }
  #intro-text{
    grid-area:text1;
    align-items:flex-start;
    padding:10px;
  }
}