
#project {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #0a0a0a;
  color: #fff;
}
#project h1 {
  grid-area:h;
  font-size: 36px;
  text-align: center;
  color: #00bcd3;
  text-shadow: 0 0 8px #00bcd4;
  margin-bottom: 40px;
}
#project h2{
  color: #00787a;
  text-shadow: 0 0 2px #00787a;
}
.project-grid {
  display: grid;
  grid-template-areas: "h h h"
  "card1 card2 card3";
  gap: 24px;
}


.project-card {
  background-color: lightcyan;
  border: 1px solid #00787a;
  border-radius: 8px;
  display: flex;
  flex-direction: column; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 16px #01abae;
}

.project-card img {
  margin:2%;
  width: 96%;
  height: 200px;              
  object-fit: cover;          
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:10px;
}


.card-content {
  padding: 16px;
  flex: 1; 
}

.project-card h2 {
  font-size: 22px;
  color: #00bcd4;
  text-shadow: 0 0 6px #00bcd4;
  margin-bottom: 12px;
}

.project-card p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
  color: #1811e1;
}

.card-content .label {
  display: inline-block;
  background-color: #00bcd4;
  color: #000;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 4px;
  font-weight: bold;
}