.skills-grid {
    display: grid;
    grid-template-areas: "skill1 skill2 skill3 skill4";
    gap: 20px;
    padding: 20px;
    }
ul{
    list-style: none;
    padding-left: 20px;
}
.tags span {
  background: #b4f5fe;
  padding: 5px 12px;
  border-radius: 8px;
  font-size: 0.8rem;
  border: 1px solid #333;
}
.skill-card {
    background-color: #c3eff5;
    border: 1px solid #0043d4;
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}